# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
helpers
BOPgems.png
logo_temp.png
modded.pdn
modded.png
ores.png
stones.png
Untitled.png
OreDrops.zip
